@import "../../../../sass/css-variables.scss";

.dropDownElement{
            height: 34px;
            display: flex;
            align-items: center;
            padding-left: 12px;
            

            cursor: pointer;

            font-family: Arial;
            font-size: 14px;
            font-weight: normal;
            color:$regular-text-color;
            box-sizing: border-box;
}

.elementSelected{
    font-weight: bold;
    background-color: #e9e9e9;
}