@import "../../../sass/css-variables.scss";

.checkBox{

    display: flex;
    
    .check{
        width: 15px;
        height: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    
    .check-active{
        background-color:$autozone-orange-color;
        border:solid 1px $autozone-orange-color;
    }
    
    .check-inactive{
        background-color: #ffffff;
        border:solid 1px #c4c4c4
    }

    .text{
        margin-left: 8px;
        font-family: Arial;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        line-height: 1.29;
        color:$regular-text-color;
    }
}
